/.vscode
/ANALYSIS
/correlation_between_revenue_and_production.png
/correlation_between_waste_and_revenue.png
/Dashboard - text.txt
/DASHBOARD_initial.pbix
/emissions_and_water_ranking.png
/emissions_per_tonne_of_product.png
/environment_impact.png
/evolution_of_carbon_and_water_used.png
/fast_fashion.session.sql
/INSIGHTS
/insigts.sql
/mentions_evolution.png
/revenue_analysis.png
/revenue_and_cycles_ranking.png
/salaries_ranking.png
/salary_and_hours_evolution.png
/Screenshot 2025-08-29 214445.png
/setup
/social_media.png
/social_media_mentions.png
/working_conditions.png